$base: var(--skt-color-base);
$primary: var(--skt-color-primary);
$secondary: var(--skt-color-secondary);
$begie: var(--skt-color-begie);
$highlight: var(--skt-color-highlight);


$gap: var(--skt-grid-margin);
